@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", Courier, monospace;
  background: rgb(0, 177, 177);
}

body > h1 {
  text-align: center;
}

main {
  font-family: "Roboto Mono", Courier, monospace;
  background-color: white;
  margin: auto;
  max-width: 75%;
  height: 100%;
  padding: 1.5rem;
}

.main__title {
  text-align: center;
  margin-bottom: 3rem;
}

.form__field {
  margin: 1.75rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.form__field > label {
  margin-right: 1rem;
  width: 50%;
  text-align: end;
}
.form__field > label > span {
  color: red;
}
.form__input {
  margin-left: 1rem;
  width: 50%;
}
.form__input > * {
  padding: 0.25rem;
}
button {
  margin: auto;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}
